@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+Glitch&display=swap');
body {
    background-color: #363537;
}
nav {
    margin-top: auto;
}
.content {
    width: auto;

}